<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/upload" enctype="multipart/form-data" method="POST">
      <input type="file" name="agt-200001" />
      <input type="text" name="testUpload" />
      <input type="submit" value="提交" />
    </form>
  </body>
</html>
